<h1>Listing rides</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Date</th>
      <th>Distance</th>
      <th>Elevation</th>
      <th>Time</th>
      <th>Strava link</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @rides.each do |ride| %>
      <tr>
        <td><%= ride.user_id %></td>
        <td><%= ride.date %></td>
        <td><%= ride.distance %></td>
        <td><%= ride.elevation %></td>
        <td><%= ride.time %></td>
        <td><%= ride.strava_link %></td>
        <td><%= link_to 'Show', ride %></td>
        <td><%= link_to 'Edit', edit_ride_path(ride) %></td>
        <td><%= link_to 'Destroy', ride, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Ride', new_ride_path %>
